.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-image:
    linear-gradient(
      blue, grey
    );
    position: fixed;
    z-index: 5
}
.header-container{
    font-size: 5vh;
    z-index: 5;
}
.main-section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 10vh;
}
.first-video{
margin-top: 1vh;
height: 60vh;
width: 60vw;

}
.second-video{
    margin-top: 1vh;
    height: 60vh;
    width: 60vw;
    
}
.third-video{
    margin-top: 1vh;

    height: 60vh;
    width: 60vw;
    
}
#fourth-video{
    margin-top: 1vh;
    height: 60vh;
    width: 60vw;
    margin-bottom: 3vh;
}
div > p{
   font-size: 10vh;
   height:20vh;
   width: 20vw;
   border: solid black 1px;
   box-shadow: 0 0 10px #000000;
}
div + h3{
    font-size: 15vh;
}
h3:hover{
    color: blue;
    text-shadow: 2px 2px orange;
}
ol li{
    color: green;
}
p{
    float: right;;
}
li:nth-child(1){
    font-size: 5vh;
}
input:disabled{
    background-color: yellow;
}
input:focus{
    height: 20vh;
    width: 80vw;
}
.footer{
    display: flex;
    justify-content: space-around
}
.photo{
    height: 25vw;;
    width: 20vw;
}

