.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: blue;
    position: fixed;
    z-index: 5
}
.header-container{
    font-size: 5vh;
    z-index: 5;
}
.main-section{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 10vh;
}
.first-video{
margin-top: 1vh;
height: 60vh;
width: 60vw;

}
.second-video{
    margin-top: 1vh;
    height: 60vh;
    width: 60vw;
    
}
.third-video{
    margin-top: 1vh;

    height: 60vh;
    width: 60vw;
    
}
#fourth-video{
    margin-top: 1vh;
    height: 60vh;
    width: 60vw;
    margin-bottom: 3vh;
}
div > p{
   font-size: 10vh;
}
div + h3{
    font-size: 15vh;
}
h3:hover{
    color: blue;
}
ol li{
    color: green;
}
p{
    float: right;;
}
li:nth-child(1){
    font-size: 5vh;
}
input:disabled{
    background-color: yellow;
}
input:focus{
    height: 20vh;
    width: 80vw;
}


@media (max-width: 800px){
    .header-container{
        font-size: 2vh;
    }
    .first-video{
        height: 50vh;
        width: 50vw;
    }
    p{
        display: none;
    }
    input{
        display: none;
    }
    
}